a.jlcCalendarDay {
	font: bold 1em sans-serif !important;
}

table.jlcCalendar {
	font: normal 1em sans-serif !important;
}

table.jlcCalendar tbody tr td {
	margin: 0;
	padding: 2px 4px;
}

td.jlcCalendarToday { /* the style for Today day */
	color: #9CBA5D !important;
	font-weight: bold !important;
	background-color: transparent !important;
}

a.jlcCalendarDay {
	background-color: #9CBA5D !important;
	color: #FFF !important;
	padding: 2px !important;
}

a.jlcheaderArrow {
	color: #9CBA5D !important;
}

div.joomleague  span, div.joomleague a {
	color: #000 !important;
}

div.joomleague  span:hover, div.joomleague  a:hover {
	/*color: #FFF !important;*/
}

table.eventsranking a{
	font-size: 12px;
}

table.eventsranking td.eventtype {
	display: none;
}

table.eventsranking tbody tr th, table.eventsranking tbody tr td {
	padding: .1em;
}
table.eventsranking tbody tr td {
		padding-bottom: 1em;
}


table.eventsranking tbody tr:hover {
	background-color: #FFF;
}

table.eventsranking .sectiontableentry1:hover, table.eventsranking .sectiontableentry2:hover {
	background-color: #F0F0F0;
}