<?xml version="1.0" encoding="utf-8"?>
<config addfieldpath="/administrator/components/com_eventgallery/models/fields">

<fieldset name="general" label="COM_EVENTGALLERY_EVENTS_OPTIONS_GENERAL_LABEL" description="COM_EVENTGALLERY_EVENTS_OPTIONS_GENERAL_DESC">
		<field name="downloadid" type="text" default="" size="30"
		label="COM_EVENTGALLERY_OPTIONS_COMMON_DOWNLOADID_LABEL"
		description ="COM_EVENTGALLERY_OPTIONS_COMMON_DOWNLOADID_DESCRIPTION" />
		
		<field 	name="admin_usergroup" 
				type="usergroup" 
				default="8" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_ADMINUSERGROUP_LABEL" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_ADMINUSERGROUP_DESCRIPTION" />
		
		
		<field name="use_comments" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_USECOMMENTS_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USECOMMENTS_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		
		<field 	name="eventgallery_default_usergroup" 
				type="usergroup" 
				default="1" 
				multiple="true"
				label="COM_EVENTGALLERY_OPTIONS_COMMON_DEFAULTUSERGROUP_LABEL" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_DEFAULTUSERGROUP_DESCRIPTION" />
				
		
		<field name="debug" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_DEBUG_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_DEBUG_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
</fieldset>



<fieldset name="image" label="COM_EVENTGALLERY_EVENTS_OPTIONS_IMAGE_LABEL" description="COM_EVENTGALLERY_EVENTS_OPTIONS_IMAGE_DESC">
		<field name="use_legacy_image_rendering" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_LEGACY_IMAGE_RENDERING_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_LEGACY_IMAGE_RENDERING_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="image_quality" type="integer" first="40" last="95" step="1" default="85" label="COM_EVENTGALLERY_OPTIONS_COMMON_THUMBNAIL_QUALITY_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_THUMBNAIL_QUALITY_DESC"/>
		
		<field name="use_sharpening" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_EVENTGALLERY_OPTIONS_COMMON_USESHARPENING_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USESHARPENING_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		
		<field 	name="image_sharpenMatrix" 
				type="text" 
				default="[[-1,-1,-1],[-1,16,-1],[-1,-1,-1]]" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_SHARPINGMATRIX_LABEL" 
				rows="1" 
				cols="50" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_SHARPINGMATRIX_DESCRIPTION" />
				
		<field name="use_autorotate" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_EVENTGALLERY_OPTIONS_COMMON_USEAUTOROTATE_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USEAUTOROTATE_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="show_image_filename" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_SHOWIMAGEFILENAME_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_SHOWIMAGEFILENAME_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="shuffle_images" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_SHUFFLEIMAGES_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_SHUFFLEIMAGES_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="download_original_images" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_DOWNLOAD_ORIGINAL_IMAGES_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_DOWNLOAD_ORIGINAL_IMAGES_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>


</fieldset>

<fieldset name="cart" label="COM_EVENTGALLERY_EVENTS_OPTIONS_CART_LABEL" description="COM_EVENTGALLERY_EVENTS_OPTIONS_CART_DESC">
		<field name="use_cart" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_EVENTGALLERY_OPTIONS_COMMON_USECART_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USECART_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_cart_inside_component" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_EVENTGALLERY_OPTIONS_COMMON_USECART_INSIDE_COMPONENT_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USECART_INSIDE_COMPONENT_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_sticy_imagetype_selection" type="radio" class="btn-group btn-group-yesno" default="0" 
			label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_STICY_IMAGETYPE_SELECTION_LABEL" 
			description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_STICY_IMAGETYPE_SELECTION_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="show_cart_connector" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_SHOW_CART_CONNECTOR_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_SHOW_CART_CONNECTOR_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>	
			
		<field 	name="cart_connector_link" 
				type="text" 
				default="http://mydomain.com/${folder}/${fileBase}" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_LABEL" 
				rows="1" 
				cols="150" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_DESCRIPTION" />
				
		<field name="cart_connector_link_rel" 
			type="text" 
			default="nofollow" 
			rows="1" 
			cols="150" 
			label="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_REL_LABEL" 
			description="COM_EVENTGALLERY_OPTIONS_COMMON_CART_CONNECTOR_LINK_REL_DESCRIPTION" />
		
</fieldset>


<fieldset  addfieldpath="/administrator/components/com_content/models/fields"
		  
			name="checkout" 
			label="COM_EVENTGALLERY_EVENTS_OPTIONS_CHECKOUT_LABEL" 
			description="COM_EVENTGALLERY_EVENTS_OPTIONS_CHECKOUT_DESC">
		<field name="currency_symbol" 
			default="EUR"
			type="text"
		    label="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_CURRENCYSYMBOL"
            description="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_CURRENCYSYMBOL_DESCRIPTION" />
        
        <field name="currency_code" 
			default="EUR"
			type="text"
		    label="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_CURRENCYCODE"
            description="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_CURRENCYCODE_DESCRIPTION" />
		
		<field name="use_terms_conditions_checkbox" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_EVENTGALLERY_OPTIONS_COMMON_USETERMCONDITIONS_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USETERMCONDITIONS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="checkout_disclaimer"
			type="localizabletext"
			inputtype="textarea"
		    label="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_DISCLAIMER"
            description="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_DISCLAIMER_DESCRIPTION"
            filter="JComponentHelper::filterText"/>
            
        <field name="checkout_merchantaddress" 
			type="localizabletext"
			inputtype="textarea"
		    label="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_MERCHANTADDRESS"
            description="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_MERCHANTADDRESS_DESCRIPTION" 
            filter="JComponentHelper::filterText"/>
        
        <field name="footer_disclaimer"
			type="localizabletext"
			inputtype="textarea"
		    label="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_FOOTERDISCLAIMER"
            description="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_FOOTERDISCLAIMER_DESCRIPTION" 
            filter="JComponentHelper::filterText"/>
        
        <field name="pp_article_link" type="text"
				label="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_PRIVACYPOLICYARTICLELINK"
				required="false"
				description="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_PRIVACYPOLICYARTICLELINK_DESCRIPTION"
			/>
        
        <field name="tac_article_link" type="text"
				label="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_TACARTICLELINK"
				required="false"
				description="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_TACARTICLELINK_DESCRIPTION"
			/>
			
		<field name="impress_article_link" type="text"
				label="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_IMPRESSARTICLELINK"
				required="false"
				description="COM_EVENTGALLERY_OPTIONS_COMMON_CHECKOUT_IMPRESSARTICLELINK_DESCRIPTION"
			/>	
		
</fieldset>



<fieldset name="social" label="COM_EVENTGALLERY_EVENTS_OPTIONS_SOCIAL_LABEL" description="COM_EVENTGALLERY_EVENTS_OPTIONS_SOCIAL_DESC">
		<field name="use_social_sharing_button" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_BUTTON_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_BUTTON_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="social_sharing_link_type" type="radio" class="btn-group" default="singleimage" label="COM_EVENTGALLERY_OPTIONS_COMMON_SOCIAL_SHARING_LINK_TYPE_LABEL" description="COM_EVENTGALLERY_OPTIONS_COMMON_SOCIAL_SHARING_LINK_TYPE_DESCRIPTION">
			<option value="singleimage">COM_EVENTGALLERY_OPTIONS_COMMON_SOCIAL_SHARING_LINK_TYPE_SINGLEIMAGE_LABEL</option>
			<option value="event">COM_EVENTGALLERY_OPTIONS_COMMON_SOCIAL_SHARING_LINK_TYPE_EVENT_LABEL</option>
		</field>

		<field 	name="social_sharing_facebook_appid" 
				type="text" 
				default="" 
				label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_APPDID" 
				description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_APPIC_DESCRIPTION" />
		
		<field name="use_social_sharing_facebook_type" type="list" class="" default="photo_share" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_TYPE_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_TYPE_DESCRIPTION">
			<option value="photo_share">COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_PHOTOSHARE</option>
			<option value="feed_dialog">COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_FEEDDIALOG</option>
			<option value="share_dialog">COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_SHAREDIALOG</option>
		</field>
		
		<field name="use_social_sharing_facebook" type="radio" class="btn-group btn-group-yesno" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_FACEBOOK_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_social_sharing_google" type="radio" class="btn-group btn-group-yesno" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_GOOGLE_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_GOOGLE_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_social_sharing_twitter" type="radio" class="btn-group btn-group-yesno" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_TWITTER_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_TWITTER_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_social_sharing_pinterest" type="radio" class="btn-group btn-group-yesno" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_PINTEREST_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_PINTEREST_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_social_sharing_email" type="radio" class="btn-group btn-group-yesno" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_EMAIL_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_EMAIL_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_social_sharing_download" type="radio" class="btn-group btn-group-yesno" default="0" 
		            label="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_DOWNLOAD_LABEL" 
		      description="COM_EVENTGALLERY_OPTIONS_COMMON_USE_SOCIAL_SHARING_DOWNLOAD_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

</fieldset>


<fieldset name="categories" label="COM_EVENTGALLERY_OPTIONS_CATEGORIES" description="COM_EVENTGALLERY_OPTIONS_CATEGORIES_DESC"
	addfieldpath="/administrator/components/com_categories/models/fields">

	<field name="show_items_per_category_count_recursive" type="radio" class="btn-group btn-group-yesno" default="0"
		   label="COM_EVENTGALLERY_OPTIONS_SHOW_ITEMS_PER_CATEGORY_COUNT_RECURSIVE_LABEL"
		   description="COM_EVENTGALLERY_OPTIONS_SHOW_ITEMS_PER_CATEGORY_COUNT_RECURSIVE_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	
	<field name="show_items_per_category_recursive" type="radio" class="btn-group btn-group-yesno" default="0"
		   label="COM_EVENTGALLERY_OPTIONS_SHOW_ITEMS_PER_CATEGORY_RECURSIVE_LABEL"
		   description="COM_EVENTGALLERY_OPTIONS_SHOW_ITEMS_PER_CATEGORY_RECURSIVE_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>

</fieldset>

<fieldset name="events" label="COM_EVENTGALLERY_OPTIONS_LAYOUT_EVENTS_LIST" description="COM_EVENTGALLERY_OPTIONS_LAYOUT_EVENTS_LIST_DESC"
	addfieldpath="/administrator/components/com_categories/models/fields">

	<field
	    name="event_layout"
	    type="componentlayout"
	    label="COM_EVENTGALLERY_OPTIONS_EVENT_LAYOUT_LABEL"
	    description="COM_EVENTGALLERY_OPTIONS_EVENT_LAYOUT_DESC"
	    menuitems="true"
	    extension="com_eventgallery"
	    view="event"
	    useglobal="false"
	  />
	  
	  <field name="events_layout" type="list" default="default" label="COM_EVENTGALLERY_OPTIONS_EVENTS_LAYOUT_LABEL"
               description="COM_EVENTGALLERY_OPTIONS_EVENTS_LAYOUT_DESC">
               <option value="default">COM_EVENTGALLERY_OPTIONS_EVENTS_LAYOUT_DEFAULT</option>
               <option value="tiles">COM_EVENTGALLERY_OPTIONS_EVENTS_LAYOUT_TILES</option>
               <option value="list">COM_EVENTGALLERY_OPTIONS_EVENTS_LAYOUT_SIMPLE_LIST</option>
        </field>

    <field name="greetings"
           id="greetings"
           type="textarea"
           default=""
           label="COM_EVENTGALLERY_OPTIONS_EVENTS_GREETING_LABEL"
           rows="3"
           cols="50"
           description="COM_EVENTGALLERY_OPTIONS_EVENTS_GREETING_DESC"
           filter="JComponentHelper::filterText"
            />

    <field name="sort_events_by" type="list" default="ordering"
           label="COM_EVENTGALLERY_OPTIONS_EVENTS_SORT_EVENTS_BY_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENTS_SORT_EVENTS_BY_DESC">
        <option value="ordering">COM_EVENTGALLERY_OPTIONS_EVENTS_SORT_EVENTS_BY_ORDERING</option>
        <option value="date_asc">COM_EVENTGALLERY_OPTIONS_EVENTS_SORT_EVENTS_BY_DATE_ASC</option>
        <option value="date_desc">COM_EVENTGALLERY_OPTIONS_EVENTS_SORT_EVENTS_BY_DATE_DESC</option>
        <option value="name_asc">COM_EVENTGALLERY_OPTIONS_EVENTS_SORT_EVENTS_BY_NAME_ASC</option>
        <option value="name_desc">COM_EVENTGALLERY_OPTIONS_EVENTS_SORT_EVENTS_BY_NAME_DESC</option>
    </field>

    <field name="tags" type="text" default="" label="COM_EVENTGALLERY_OPTIONS_EVENTS_TAGS_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENTS_TAGS_DESC"/>

	<field name="catid"
			type="categoryedit"
			extension="com_eventgallery"
			label="JCATEGORY"
			description="JFIELD_CATEGORY_DESC"
			class="inputbox"
			required="false"
		><option value="">JNONE</option></field>

	<field name="max_events_per_page" type="text" default="12" label="COM_EVENTGALLERY_OPTIONS_EVENTS_MAX_EVENTS_PER_PAGE_LABEL" description="COM_EVENTGALLERY_OPTIONS_EVENTS_MAX_EVENTS_PER_PAGE_DESC" />

    <field type="spacer"/>

    
    <field name="show_exif" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_EVENTGALLERY_OPTIONS_SHOW_EXIF_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_SHOW_EXIF_DESC">
        <option value="1">JYES</option>
        <option value="0">JNO</option>
    </field>
    <field name="show_date" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_EVENTGALLERY_OPTIONS_SHOW_DATE_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_SHOW_DATE_DESC">
        <option value="1">JYES</option>
        <option value="0">JNO</option>
    </field>
    <field name="show_text" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_SHOW_TEXT_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_SHOW_TEXT_DESC">
        <option value="1">JYES</option>
        <option value="0">JNO</option>
    </field>
    <field name="show_imagecount" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_EVENTGALLERY_OPTIONS_SHOW_IMAGECOUNT_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_SHOW_IMAGECOUNT_DESC">
        <option value="1">JYES</option>
        <option value="0">JNO</option>
    </field>
    <field name="show_eventhits" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_SHOW_EVENTHITS_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_SHOW_EVENTHITS_DESC">
        <option value="1">JYES</option>
        <option value="0">JNO</option>
    </field>
    <field name="show_commentcount" type="radio" class="btn-group btn-group-yesno" default="1"
           label="COM_EVENTGALLERY_OPTIONS_SHOW_COMMENTCOUNT_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_SHOW_COMMENTCOUNT_DESC">
        <option value="1">JYES</option>
        <option value="0">JNO</option>
    </field>
    <field name="use_fullscreen_lightbox" type="radio" class="btn-group btn-group-yesno" default="0"
           label="COM_EVENTGALLERY_OPTIONS_USE_FULLSCREEN_LIGHTBOX_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_USE_FULLSCREEN_LIGHTBOX_DESC">
        <option value="1">JYES</option>
        <option value="0">JNO</option>
    </field>
    <field name="show_image_caption_overlay" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_EVENTGALLERY_OPTIONS_SHOW_IMAGE_CAPTION_OVERLAY_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_SHOW_IMAGE_CAPTION_OVERLAY_DESC">
        <option value="1">JYES</option>
        <option value="0">JNO</option>
    </field>
     <field name="use_event_paging" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_EVENTGALLERY_OPTIONS_EVENT_USE_PAGING_LABEL"
                   description="COM_EVENTGALLERY_OPTIONS_EVENT_USE_PAGING_DESC">
        <option value="1">JYES</option>
        <option value="0">JNO</option>
    </field>        
    <field name="show_items_per_category_count" type="radio" class="btn-group btn-group-yesno" default="0"
		   label="COM_EVENTGALLERY_OPTIONS_SHOW_ITEMS_PER_CATEGORY_COUNT_LABEL"
		   description="COM_EVENTGALLERY_OPTIONS_SHOW_ITEMS_PER_CATEGORY_COUNT_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
</fieldset>

<fieldset name="event_ajax" label="COM_EVENTGALLERY_LAYOUT_EVENT_AJAX_LIST" description="COM_EVENTGALLERY_LAYOUT_EVENT_AJAX_LIST_DESC">
    <field name="event_ajax_list_thumbnail_size" type="integer" first="25" last="500" step="1" default="75"
           label="COM_EVENTGALLERY_OPTIONS_EVENT_AJAX_THUMBNAIL_SIZE_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENT_AJAX_THUMBNAIL_SIZE_DESC"/>
    <field name="event_ajax_list_number_of_thumbnail_on_first_page"
           type="integer" first="1" last="100" step="1" default="11"
           label="COM_EVENTGALLERY_OPTIONS_EVENT_AJAX_THUMBNAIL_PER_FIRSTPAGE_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENT_AJAX_THUMBNAIL_PER_FIRSTPAGE_DESC"/>
    <field name="event_ajax_list_number_of_thumbnail_per_page"
           type="integer" first="1" last="100" step="1" default="22"
           label="COM_EVENTGALLERY_OPTIONS_EVENT_AJAX_THUMBNAIL_PER_PAGE_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENT_AJAX_THUMBNAIL_PER_PAGE_DESC" />
</fieldset>

<fieldset name="event_pageablelist" label="COM_EVENTGALLERY_LAYOUT_EVENT_DEFAULT_LIST" description="COM_EVENTGALLERY_LAYOUT_EVENT_DEFAULT_LIST_DESC">
    <field name="event_default_list_thumbnail_height" id="event_default_list_thumbnail_height" type="integer"
           first="0" last="1000" step="10" default="150"
           label="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_HEIGHT_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_HEIGHT_DESC"/>
    <field name="event_default_list_thumbnail_jitter" id="event_default_list_thumbnail_jitter" type="integer"
           first="0" last="500" step="10" default="50"
           label="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_JITTER_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_JITTER_DESC"/>
    <field name="event_default_list_thumbnail_first_item_height"
           id="event_default_list_thumbnail_first_item_height" type="integer" first="1" last="10" step="1"
           default="2" label="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_HEIGHT_FIRSTITEM_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_HEIGHT_FIRSTITEM_DESC"/>
    <field name="show_singlepage_imagehits" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_EVENTGALLERY_OPTIONS_SHOW_IMAGEHITS_LABEL"
                   description="COM_EVENTGALLERY_OPTIONS_SHOW_IMAGEHITS_DESC">                
                <option value="1">JYES</option>
                <option value="0">JNO</option>
    </field>
</fieldset>

<fieldset name="event_imagelist" label="COM_EVENTGALLERY_LAYOUT_EVENT_IMAGE_LIST" description="COM_EVENTGALLERY_LAYOUT_EVENT_IMAGE_LIST_DESC">
    <field name="event_image_list_thumbnail_height" id="event_image_list_thumbnail_height" type="integer"
           first="0" last="1000" step="10" default="150"
           label="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_HEIGHT_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_HEIGHT_DESC"/>
    <field name="event_image_list_thumbnail_jitter" id="event_image_list_thumbnail_jitter" type="integer"
           first="0" last="500" step="10" default="50"
           label="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_JITTER_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_JITTER_DESC"/>
    <field name="event_image_list_thumbnail_first_item_height" id="event_image_list_thumbnail_first_item_height"
           type="integer" first="1" last="10" step="1" default="2"
           label="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_HEIGHT_FIRSTITEM_LABEL"
           description="COM_EVENTGALLERY_OPTIONS_EVENT_THUMBNAIL_HEIGHT_FIRSTITEM_DESC"/>
</fieldset>



<fieldset name="accesscontrol" label="Permissions">
 
		<field name="asset_id" type="hidden" filter="unset" /> 
 
		<field
			name="rules"
			type="rules"
			label="Permissions"
			translate_label="false"
			filter="rules"
			validate="rules"
			class="inputbox"
			component="com_eventgallery"
			section="component" />
	</fieldset>
</config>
